body{
    /* Conjunto de propiedades a modificar */
    color: #FFFFFF;
    background-color: #041d37;
    margin: 0;
}

.wrapper{
    width: 80%;
    margin: 0px auto;
    padding: 25px 35px;
    box-sizing: border-box;
}

.mainHeader, footer{
    background-color: #4a648a;
}

header,footer{
    text-align: center;
}

main{
    background-color: #2b4c6f;
}

main section{
    width: 74%;
    vertical-align: top;
    padding-right: 30px;
}

#mainImage{
    width: 345px;
    height: 345px;
    border: 1px solid #FFFFFF;
    background-size: 100% 100%;
    box-sizing: content-box;
}

#mainImage,
#imageOptions{
    display: inline-block;
}

#imageOptions{
    width: 500px;
    vertical-align: top;
    box-sizing: border-box;
}

.coverItem{
    background-color: #4a648a;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 115px;
    height: 115px;
    display: inline-block;
    border: 1px solid #FFFFFF;
    padding-top: 45px;
}
